[user]
	name = Pedro Palacios Avila
	email = wesitos@makerlabperu.org
	signingkey = 75D9D625ABF40969
[github]
	user = wesitos
[commit]
	gpgsign = true
[gpg]
	program = gpg2

# Color stuff
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[diff]
	# Detect copies as well as renames
	renames = copies
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
[alias]
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
